
*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
h1,h2,h3,h4,h5,h6,p,ul,li,figure,label,input{
    margin:0;
    padding: 0;
    font-family: 'Averta Semi Bold' ;
}



@font-face {
    font-family: 'Averta Semi Bold';
    src: url('~@/assets/font/AvertaSemiBold.otf');
  }
  @font-face {
    font-family: 'Averta Bold';
    src: url('~@/assets/font/AvertaBold.otf');
  }
  @font-face {
    font-family: 'Averta Black';
    src: url('~@/assets/font/AvertaBlack.otf');
  }

  //styling input

